
.navbar .nav-link {
  text-decoration: none;
  color: inherit; 
}

.navbar .nav-header{
  display: flex;
  font-family: "Bebas Neue", sans-serif;
  font-size: 60px;
  color: black;
  justify-content: center;
  letter-spacing: 2px;
  margin: 5px 0 5px 0;
}

.navbar .line {
  margin: 0% 35%;
}

.navbar hr{
  height: 4px;
  background-color: #1B3C73;
  opacity: 0.5;
}

